<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4>About us</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ratione quibusdam molestiae labore cupiditate! Porro, incidunt eos. Excepturi deleniti numquam dignissimos a, quisquam asperiores eos sed provident officiis voluptate nam.</p>
            </div>
            <div class="col-sm">
                <h4>Contact us</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Phone: 233920</li>
                    <li class="list-group-item">Email: test@example.com</li>
                    <li class="list-group-item">Fax: 348289432</li>
                </ul>
            </div>
            <div class="col-sm">
                <h4>Adress</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">City: Luxembourg</li>
                    <li class="list-group-item">Adress: 15, rue de la liberté</li>
                    <li class="list-group-item">Zip-code: 3823</li>
                </ul>
            </div>
        </div>
    </div>
</footer>