<header>
    <nav class="navbar navbar-light bg-dark container-fluid">
        <div class="row">
            <div>
                <a class="navbar-brand text-light m-1" href="{{path("homepage")}}">My App</a>
            </div>
            <div>
                <a class="btn btn-secondary m-1" href="{{path("task_list")}}">Tasks</a>
            </div>
            <div>
                <a class="btn btn-secondary m-1" href="{{path("project_list")}}">Projects</a>
            </div>
            <div>
                <a class="btn btn-secondary m-1" href="{{path("admin_default")}}">Administration</a>
            </div>
        </div>
    </nav>
</header>